body{
	font-family: 'Montserrat', sans-serif;
	background-color: #DADBD3;
}

header{
	height:15vh;
	background-color: #009688;
}

.my-text-grey{
	color:#B1B1B1;
}

.my-lh-small{
	line-height:.2rem;
}

.my-fs-xsmall{
	font-size:.8rem;
}

.my-input{
	font-size:.8rem;
	border:1px solid #f5f5f5;
}



header div.user-profile img,
header div.contact-info img{
	border-radius:50%;
	width:50px;
	height:50px;
}

main div.container{
	top:20px;
	min-width:1140px;
}

main header{
	line-height: 7vh;
}

section#contacts{
	left:0;
}

section#contacts header{
border-right:1px solid rgb(199, 199, 199);
}

section#contacts div.banner{
	background-color: #8EDAFC;
}

section#contacts div.banner div#bell-icon{
	width:50px;
	height:50px;
	text-align: center;
	font-size:1.2rem;
	border-radius:50%;
	line-height: 50px;
	color:#8EDAFC;
	background-color: white;
}

section#contacts div.banner h5{
	font-size:1rem;
}

section#contacts div.banner span{
	color:grey;
}

section#contacts div#search-bar{
	background-color:#F1F1F1;
}

section#contacts div#search-bar span#lens{
	height:100%;
	border:1px solid #f5f5f5;
}

section#contacts  div.contact-info img{
	border-radius:50%;
	width:60px;
	height:60px;
}

section#contacts ul{
	height: calc(100% - 196px);
}

section#contacts ul li{
	display: none;
}

section#contacts ul li:hover{
	background-color: #E9EBEB;
}

section#chat div.chat-history,
section#contacts ul{
	overflow-y: scroll;
}

section#chat{
	right:0;
}

section#contacts,
section#chat{
	position:absolute;
	height:95vh;
	background-color: white;
}

section#contacts header,
section#chat header{
	height:7vh;
	background-color: #EAEAEA;
}

main section#chat header div.contact-info{
	display: none;
}

section#chat div.chat-history{
	height:calc(100% - 131px);
	background-image:url(../img/mine.jpg);
}

section#chat div.chat-history div.message{
	display: none;
}

section#chat div.chat-history div.message-box{
	width:40%;
	font-size:.9rem;
	padding:1rem;
	margin-bottom:.7rem;
	border-radius:10px;
}

section#chat div.chat-history div.message-box span.message-time{
	font-size:.65rem;
	color:grey;
	right:.5rem;
	bottom:.1rem;
}

section#chat div.chat-history div.message-box.received{
	background-color: white;
}

section#chat div.chat-history div.message-box.sent{
	background-color: #D5F9BA;
	float:right;
}

section#chat div#send-message-bar{
	background-color: #F3EEEA;
}

section#chat div#send-message-bar input{
	height:50px;
}


