body{
	font-family: sans-serif;
	background-color: #DADBD3;
}

header{
	height:15vh;
	background-color: #009688;
}

.my-text-grey{
	color:#B1B1B1;
}

.my-lh-small{
	line-height:.2rem;
}

.my-fs-xsmall{
	font-size:.8rem;
}

header div.contact-info img{
	border-radius:50%;
	width:50px;
	height:50px;
}

main div.container{
	top:20px;
}

section#chat-group{
	left:0;
}

main header{
	border-right:1px solid rgb(199, 199, 199);
	line-height: 7vh;
}



section#chat-group div.banner{
	background-color: #8EDAFC;
}

section#chat-group div.banner div#bell-icon{
	width:50px;
	height:50px;
	text-align: center;
	font-size:1.2rem;
	border-radius:50%;
	line-height: 50px;
	color:#8EDAFC;
	background-color: white;
}


section#chat-group div.banner h5{
	font-size:1rem;
}

section#chat-group div.banner span{
	color:grey;
}

section#chat-group div#search-bar{
	background-color:#F1F1F1;
}

section#chat-group div#search-bar span#lens{
	height:100%;
}

section#chat-group div#search-bar input{
	font-size:.8rem;
}

section#chat-group div#search-bar input,
section#chat-group div#search-bar span#lens{
	border:1px solid #f5f5f5;
}


section#chat-group  div#chat-list div.chat-info img{
	border-radius:50%;
	width:60px;
	height:60px;
}

section#current-chat{
	right:0;
}

section#current-chat div.chat-wrapper{
	background-image:url(../img/mine.jpg);
	height:100%;
}

section#chat-group,
section#current-chat{
	position:absolute;
	height:95vh;
	background-color: white;
}

section#chat-group header,
section#current-chat header{
	height:7vh;
	background-color: #EAEAEA;
}

