body{
	font-family: sans-serif;
	background-color: #DADBD3;
}

header{
	height:15vh;
	background-color: #009688;
}

.my-text-grey{
	color:#B1B1B1;
}

main div.container{
	top:20px;
}

section#chat-group{
	left:0;
}

section#chat-group header{
	line-height: 7vh;
}

section#chat-group  header div#contact-info img{
	width:100px;
}

section#current-chat{
	right:0;
}

section#chat-group,
section#current-chat{
	position:absolute;
	height:95vh;
	background-color: white;
}

section#chat-group header,
section#current-chat header{
	height:7vh;
	background-color: #EAEAEA;
}

